.header {
  padding: 92px 50px 96px;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.header__menu {
  text-underline-offset: 0.3em;
}

.header__links-list {
  display: flex;
  gap: 33px;
}

.header__link_active .header__link {
  text-decoration: none;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list .header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.header__link_active {
}

.header__logo {
  display: block;
  align-items: end;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  margin: 0;
  padding: 0;
  position: fixed right;
}

.address {
  max-width: 240px;
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: end;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-underline-offset: 0.3em;
}

.cover {
  padding: 0;
  margin: 0;
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  margin-bottom: 180px;
}

.overlay {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
  padding: 165px 50px 106px;
  margin: 0;
}

.aligned-text {
  display: block;
}

.aligned-text-left {
  text-align: left;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #fff;
}

.aligned-text-center {
  text-align: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 157%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #fff;
  transform: translateX(12px);
}

.aligned-text-right {
  text-align: right;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 114%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #fff;
  transform: translateX(27px);
}

.cover__description {
  margin: 0;
  padding: 0 50px 50px;
  display: flex;
  justify-content: space-between;
}

.cover__description-text {
  color: white;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #fff;
  word-spacing: 19px;
  transform: translateY(12px);
}

.bet-button {
  padding-left: 0;
  border-style: solid;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  border-width: 1px;
}

.bet-button-text {
  padding: 12px 32px;
}

.lots {
  padding: 0 24px 120px 24px;
}

.lots__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  color: #000000;
  padding: 0 0 27px 40px;
}

.lots__card-film,
.lots__card-book,
.lots__card-picture {
  width: 334px;
  min-height: 596px;
}

.article,
.lots__header {
  height: 100%;
}

.lots__card-list {
  display: flex;
  gap: 25px;
}

.lots__card-film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article {
}

.lots__card-film-header,
.lots__card-book-header,
.lots__card-picture-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #fff;
}

.lots__card-film-footer,
.lots__card-book-footer,
.lots__card-picture-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}

.lots__card-book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.lots__card-picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.more {
  padding: 30px 0 0 40px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000;
  text-underline-offset: 0.3em;
}

.about {
  padding: 0 24px 180px 24px;
}

.footer {
  padding: 0;
  margin: 0;
}
